---
export type Props = {
  isHeader?: boolean;
};

const { isHeader = false } = Astro.props;
---

<div
  class:list={[
    'flex flex-row gap-4 border border-default bg-offset p-4',
    { 'text-lg font-bold text-primary bg-zinc-600': isHeader },
  ]}
>
  <slot />
</div>
