---
export type Props = {
  name: string;
  title: string;
};

const { name, title } = Astro.props;
---

<div class="flex-1 text-left text-xs sm:text-sm md:text-base">{name}</div>
<div class="flex-1 text-left text-xs sm:text-sm md:text-base">{title}</div>
