---
import { t } from 'i18next';
import type { EncyclopediaItemListResponse, Monster } from '../../../../types';
import EncyclopediaLayout from '../../../../layouts/encyclopedia-layout.astro';
import Monsters from '../../../../components/encyclopedia/monsters/monsters.astro';

const { lang } = Astro.params;

const url = new URL('/api/encyclopedia/monster/lists', Astro.site);
const response = await fetch(url, {
  headers: {
    'content-type': 'application/json',
  },
});

let data = null;
if (response.status === 200) {
  data = (await response.json()) as EncyclopediaItemListResponse<Monster>;
}
---

{!data && <div>TODO Erreur</div>}
{
  data && (
    <EncyclopediaLayout title={t('encyclopedia:monsters', { lng: lang })}>
      <Monsters data={data} />
    </EncyclopediaLayout>
  )
}
