---
import { changeLanguage, t } from 'i18next';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { CLOUDFRONT_BASE_URL } from '../../const';
import GradientText from '../../components/GradientText.astro';

await changeLanguage('fr');
---

<BaseLayout title="Dbot - RPG discord bot">
  <section class="relative h-full">
    <div class="relative grid h-full place-items-center sm:grid-cols-2">
      <h2 class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end">
        <img alt="icon" src={`${CLOUDFRONT_BASE_URL}icons/BotIcon.png`} class="h-24 w-32 text-white md:h-32" />
        <div class="text-center text-8xl font-extrabold tracking-tighter text-primary">
          <GradientText text="Dbot RPG Discord Bot" />
        </div>
        {t('test')}
      </h2>
    </div>
  </section>
</BaseLayout>
