---
import { t } from 'i18next';
import type { EncyclopediaItemListResponse, Item } from '../../../../types';
import EncyclopediaListLayout from '../../../../layouts/encyclopedia-list-layout.astro';
import ItemList from '../../../../components/encyclopedia/items/item-list.astro';

const { lang } = Astro.params;

const url = new URL('/api/encyclopedia/item/lists', Astro.site);
const response = await fetch(url, {
  headers: {
    'content-type': 'application/json',
  },
});

let data = null;
if (response.status === 200) {
  data = (await response.json()) as EncyclopediaItemListResponse<Item>;
}
---

{!data && <div>TODO Erreur</div>}
{
  data && (
    <EncyclopediaListLayout title={t('encyclopedia:items', { lng: lang })}>
      <ItemList data={data} />
    </EncyclopediaListLayout>
  )
}
