---
import { t, changeLanguage } from 'i18next';
import type { EncyclopediaResponse, Item } from '../../../../types';
import EncyclopediaLayout from '../../../../layouts/encyclopedia-layout.astro';
import Items from '../../../../components/encyclopedia/items/items.astro';

const { lang = 'en' } = Astro.params;
await changeLanguage(lang);

const url = new URL('/api/encyclopedia/item/lists', Astro.site);
const response = await fetch(url, {
  headers: {
    'content-type': 'application/json',
  },
});

let data = null;
if (response.status === 200) {
  data = (await response.json()) as EncyclopediaResponse<Item>;
}
---

<span>
  1:{t('encyclopedia:items')}
  2:{t('pageTitle')}
  3:{t('pageTitle', { lng: lang })}
</span>
{!data && <div>TODO Erreur</div>}
{
  data && (
    <EncyclopediaLayout title={t('encyclopedia:items', { lng: lang })}>
      <Items data={data} />
    </EncyclopediaLayout>
  )
}
