---
import { t } from 'i18next';
import type { EncyclopediaResponse, Spell } from '../../../../types';
import EncyclopediaLayout from '../../../../layouts/encyclopedia-layout.astro';
import Spells from '../../../../components/encyclopedia/spells/spells.astro';
import { LANGUAGES } from '../../../../config';

export const getStaticPaths = () => Object.keys(LANGUAGES).map((lang) => ({ params: { lang } }));
const { lang } = Astro.params;

const url = new URL('/api/encyclopedia/spell/lists', Astro.site);
const response = await fetch(url, {
  headers: {
    'content-type': 'application/json',
  },
});

let data = null;
if (response.status === 200) {
  data = (await response.json()) as EncyclopediaResponse<Spell>;
}
---

{!data && <div>TODO Erreur</div>}
{
  data && (
    <EncyclopediaLayout title={t('encyclopedia:spells', { lng: lang })}>
      <Spells data={data} />
    </EncyclopediaLayout>
  )
}
