---
import type { MarkdownHeading } from 'astro';

export interface Props {
  headings: MarkdownHeading[];
  title: string;
}

let { headings, title } = Astro.props;
headings = [{ depth: 2, slug: 'overview', text: title }, ...headings].filter(({ depth }) => depth > 1 && depth < 4);
---

<nav>
  <div>
    <h2>On this page</h2>
    <ul>
      {
        headings.map((heading) => {
          const { depth, slug, text } = heading;
          return (
            <li class={`pl-${depth * 2 - 2} `}>
              <a href={`#${slug}`}>{text}</a>
            </li>
          );
        })
      }
    </ul>
  </div>
</nav>
