---
import BaseLayout from '../../../layouts/base-layout.astro';
import { t } from 'i18next';
import type { EncyclopediaItem } from '../../../types';
import GradientText from '../../../components/common/gradient-text.astro';
import Trans from '../../../components/common/trans.astro';
import Icon from 'astro-icon';
import Link from '../../../components/common/link.astro';

const { lang } = Astro.params;

const encyclopediaItems: EncyclopediaItem[] = [
  {
    name: t('encyclopedia:items', { lng: lang }),
    icon: 'ph:sword-light',
    link: 'encyclopedia/items',
  },
  {
    name: t('encyclopedia:spells', { lng: lang }),
    icon: 'mdi:thunder-outline',
    link: 'encyclopedia/spells',
  },
  {
    name: t('encyclopedia:monsters', { lng: lang }),
    icon: 'ph:alien-light',
    link: 'encyclopedia/monsters',
  },
  {
    name: t('encyclopedia:achievements', { lng: lang }),
    icon: 'ph:trophy-light',
    link: 'encyclopedia/achievements',
  },
  {
    name: t('encyclopedia:questRessources', { lng: lang }),
    icon: 'ic:outline-water-drop',
    link: 'encyclopedia/quest-ressources',
  },
];
---

<BaseLayout headerSticky={true} title={t('encyclopedia:title', { lng: lang })}>
  <section class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8">
    <div class="flex flex-col items-center gap-4">
      <GradientText class="text-center text-5xl sm:text-7xl font-extrabold tracking-tight">
        <Trans key="encyclopedia:title" />
      </GradientText>
    </div>
    <ul class="grid max-w-6xl grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {
        encyclopediaItems.map(({ name, icon, link }) => (
          <Link href={link}>
            <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
              <div class="h-16 w-16 rounded-full border-2 border-current p-3">
                <Icon name={icon} />
              </div>
              <p class="text-center text-xl font-extrabold sm:text-2xl">{name}</p>
            </li>
          </Link>
        ))
      }
    </ul>
  </section>
</BaseLayout>
