---
import { t } from 'i18next';
import type { EncyclopediaItemListResponse, QuestResource } from '../../../../types';
import EncyclopediaListLayout from '../../../../layouts/encyclopedia-list-layout.astro';
import QuestResourceList from '../../../../components/encyclopedia/quest-resources/quest-resource-list.astro';

const { lang } = Astro.params;

const url = new URL('/api/encyclopedia/questResource/lists', Astro.site);
const response = await fetch(url, {
  headers: {
    'content-type': 'application/json',
  },
});

let data = null;
if (response.status === 200) {
  data = (await response.json()) as EncyclopediaItemListResponse<QuestResource>;
}
---

{!data && <div>TODO Erreur</div>}
{
  data && (
    <EncyclopediaListLayout title={t('encyclopedia:questResources', { lng: lang })}>
      <QuestResourceList data={data} />
    </EncyclopediaListLayout>
  )
}
