---
import { changeLanguage } from 'i18next';
import { t } from 'i18next';
import Features from '../../components/index/features.astro';
import Intro from '../../components/index/intro.astro';
import TitleScreen from '../../components/index/title-screen.astro';
import BaseLayout from '../../layouts/base-layout.astro';

export function getStaticPaths() {
  return [{ params: { lang: 'fr' } }, { params: { lang: 'en' } }];
}

const { lang } = Astro.params;

await changeLanguage(lang as string);
---

<BaseLayout title={t('pageTitle')}>
  <TitleScreen />
  <div class="space-y-24 px-8 py-32">
    <Intro />
    <Features />
  </div>
</BaseLayout>
