---
import i18next, { t } from 'i18next';
import type { FooterLink } from '../../types';
import { Icon } from 'astro-icon';
import Link from '../common/link.astro';
import { INVITE_LINK } from '../../config';

const currentLanguage = i18next.language;

const links: Array<FooterLink> = [
  {
    url: INVITE_LINK,
    icon: 'fa-brands:discord',
  },
];
---

<footer class="relative flex justify-between border-t border-default px-8 py-4">
  <div class="flex items-center gap-4">
    <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
      {
        links.map((link) => (
          <li>
            <Link
              class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
              href={link.url}
            >
              <Fragment>
                <Icon class="h-full" name={link.icon} />
              </Fragment>
            </Link>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="flex items-center gap-4">
    <Link href={`/${currentLanguage}/terms-of-service`}>{t('footer:termsOfService')}</Link>
    <Link href={`/${currentLanguage}/privacy-policy`}>{t('footer:privacyPolicy')}</Link>
  </div>
</footer>
