---
import { t } from 'i18next';
import { getLanguageFromURL } from '../../utils';
import Trans from '../common/trans.astro';

import ContentSection from './content-section.astro';

const lang = getLanguageFromURL(Astro.url.pathname);
---

<ContentSection title={t('intro.title', { lng: lang })}>
  <Fragment slot="main">
    <Trans key="intro.desc"><span class="text-primary"></span></Trans>
  </Fragment>
</ContentSection>
