---
import { t } from 'i18next';
import { Trans } from 'astro-i18next/components';

import ContentSection from './content-section.astro';
---

<ContentSection title={t('intro.title')}>
  <Fragment slot="main">
    <Trans i18nKey="intro.desc"><span class="text-primary"></span></Trans>
  </Fragment>
</ContentSection>
