---
import ContentSection from './content-section.astro';
---

<ContentSection title="Just ship less">
  <Fragment slot="main">
    Astro is a new kind of site builder for the
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment>
</ContentSection>
