---
import { Picture } from '@astrojs/image/components';
import GradientText from '../common/gradient-text.astro';
import Trans from '../common/trans.astro';
const { PUBLIC_CLOUDFRONT_BASE_URL } = import.meta.env;
---

<section class="relative h-screen bg-offset">
  <div class="grid h-full place-items-center">
    <h2 class="flex flex-col gap-2 sm:gap-4">
      <div class="grid place-items-center">
        <Picture
          alt="icon"
          aspectRatio="1:1"
          widths={[96, 128]}
          sizes="(min-width: 640px) 128px, 96px"
          src={`${PUBLIC_CLOUDFRONT_BASE_URL}/icons/BotIcon.png`}
        />
      </div>
      <div class="text-center text-7xl font-extrabold tracking-tighter text-primary sm:text-8xl">
        <GradientText><Trans key="title"><br /> <br /></Trans></GradientText>
      </div>
    </h2>
  </div>
</section>
