---
import { Trans } from 'astro-i18next/components';
import { CLOUDFRONT_BASE_URL } from '../../const';
import GradientText from '../common/gradient-text.astro';
---

<section class="relative h-full bg-offset">
  <div class="grid h-full place-items-center">
    <h2 class="flex flex-col gap-2 sm:gap-4">
      <div class="grid place-items-center">
        <img alt="icon" src={`${CLOUDFRONT_BASE_URL}icons/BotIcon.png`} class="h-24 w-24 sm:h-32 sm:w-32" />
      </div>
      <div class="text-center text-7xl font-extrabold tracking-tighter text-primary sm:text-8xl">
        <GradientText><Trans i18nKey="index:title"><br /> <br /></Trans></GradientText>
      </div>
    </h2>
  </div>
</section>
