---
import '../styles/index.css';
import i18next from 'i18next';
import Header from '../components/header/header.astro';
import Footer from '../components/footer/footer.astro';

export interface Props {
  title: string;
  headerSticky?: boolean;
}

const { title, headerSticky } = Astro.props;
---

<!DOCTYPE html>
<html
  lang="en"
  class="h-full scrollbar scrollbar-track-transparent scrollbar-thumb-primary motion-safe:scroll-smooth"
  data-theme="dark"
  lang={i18next.language}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"
      media="print"
      onload="this.media='all'"
    />

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-default text-base text-default">
    <Header headerSticky={headerSticky} />
    <slot />
    <Footer />
  </body>
</html>
